@using LubriSoft.Entities
@using LubriSoft.Models
@using System.Text.RegularExpressions

<EditForm Model="@MarcaModel" OnValidSubmit="RegistrarMarca" id="@FormId">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-12">
            @****** NOMBRE ******@
            <div class="form-floating mb-3">
                <InputText @bind-Value="MarcaModel.Nombre" class="form-control" placeholder="" maxlength="50" style="text-transform:uppercase" />
                <label>Nombre</label>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public string? FormId { get; set; }

    [Parameter]
    public EventCallback<Marca> OnValidatedForm { get; set; }

    [Parameter]
    public MarcaViewModel MarcaModel { get; set; } = new();

    public async Task RegistrarMarca(EditContext editContext)
    {
        Marca m = new Marca
        {
            Nombre = MarcaModel.Nombre.ToUpper().Trim(),
        };

        await OnValidatedForm.InvokeAsync(m);
    }

}